doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/dist/output.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
.flex.min-h-screen
  .w-full.max-w-5xl.px-10.py-8.mx-auto.bg-white.rounded-lg.shadow-xl
    .flex.justify-center.mb-8
      h1.font-bold.text-4xl Come work with us
    // Title discription
    p.font-thin.text-xl.mb-8.flex.justify-center
      | We are looking for a talented and motivated individual to join our team.If you are interested in joining our team, please fill out the form below.
    // main form
    .max-w-4xl.mx-auto.space-y-6
      form(action='')
        h2.text-2xl.font-bold Submit your application
        p.my-4.opacity-70
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, sapiente, aliquam excepturi laudantium itaque unde sunt fuga ut ex iure totam, labore in minima doloremque laboriosam culpa delectus dignissimos praesentium!
        p
          span.text-red-500 *
          |  Required Field
        hr.my-6
        .flex
          svg.h-8.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' stroke-width='2')
            path(stroke-linecap='round' stroke-linejoin='round' d='M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z')
          h2.text-2xl.font-bold Personal Details
        hr.my-6
        // Personal information
        .flex.flex-wrap
          // firsr name
          .w-full.px-3(class='md:w-1/2')
            label.uppercase.text-sm.font-bold.opacity-70
              | Name
              span.text-red-500 *
            input.p-3.mt-2.mb-4.w-full.bg-slate-200.rounded.border-2.border-slate-200(type='text' class='focus:border-slate-600 focus:outline-none')
          // Last name
          .w-full.px-3(class='md:w-1/2')
            label.uppercase.text-sm.font-bold.opacity-70
              | Last name
              span.text-red-500 *
            input.p-3.mt-2.mb-4.w-full.bg-slate-200.rounded.border-2.border-slate-200(type='text' class='focus:border-slate-600 focus:outline-none')
          // Gender
          .w-full.px-3(class='md:w-1/2')
            label.uppercase.text-sm.font-bold.opacity-70 Gender
            .flex.items-center.mb-2.mr-4
              input#radio-example-1.h-4.w-4.text-gray-700.px-3.py-3.border.rounded.mr-2(type='radio' name='radio')
              label.text-gray-600(for='radio-example-1') Male
            .flex.items-center.mb-2
              input#radio-example-2.h-4.w-4.text-gray-700.px-3.py-3.border.rounded.mr-2(type='radio' name='radio')
              label.text-gray-600(for='radio-example-2') Female
        // Contact information
        hr.my-6
        .flex
          svg.h-8.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' stroke-width='2')
            path(stroke-linecap='round' stroke-linejoin='round' d='M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z')
          h2.text-2xl.font-bold Contact Information
        hr.my-6
        .flex.flex-wrap
          // Email
          .w-full.px-3(class='md:w-1/2')
            label.uppercase.text-sm.font-bold.opacity-70
              | Email
              span.text-red-500 *
            input.p-3.mt-2.mb-4.w-full.bg-slate-200.rounded.border-2.border-slate-200(type='text' class='focus:border-slate-600 focus:outline-none')
          // Phone Number
          .w-full.px-3(class='md:w-1/2')
            label.uppercase.text-sm.font-bold.opacity-70 Phone Number
            input.p-3.mt-2.mb-4.w-full.bg-slate-200.rounded.border-2.border-slate-200(type='text' class='focus:border-slate-600 focus:outline-none')
          // Permanent Address
          .w-full.px-3(class='md:w-1/2')
            label.uppercase.text-sm.font-bold.opacity-70 Permanent Address
            input.p-3.mt-2.mb-4.w-full.bg-slate-200.rounded.border-2.border-slate-200(type='text' class='focus:border-slate-600 focus:outline-none')
          // Temporary Address
          .w-full.px-3(class='md:w-1/2')
            label.uppercase.text-sm.font-bold.opacity-70 Temporary Address
            input.p-3.mt-2.mb-4.w-full.bg-slate-200.rounded.border-2.border-slate-200(type='text' class='focus:border-slate-600 focus:outline-none')
        // position
        hr.my-6
        .flex
          svg.h-8.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' stroke-width='2')
            path(stroke-linecap='round' stroke-linejoin='round' d='M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z')
          h2.text-2xl.font-bold Position
        hr.my-6
        .flex.flex-wrap
          // preffred position
          .w-full.px-3(class='md:w-1/2')
            label.uppercase.text-sm.font-bold.opacity-70
              | Preffered Position
              span.text-red-500 *
            select.p-3.mt-2.mb-4.w-full.bg-slate-200.rounded.border-2.border-slate-200(class='focus:border-slate-600 focus:outline-none')
              option(selected='' value='')
              option(value='') Frontend Developer
              option(value='') Backend Developer
              option(value='') Designer
              option(value='') Fullstack developer
          // Time full/part
          .w-full.px-3(class='md:w-1/2')
            label.uppercase.text-sm.font-bold.opacity-70
              | Available
              span.text-red-500 *
            select.p-3.mt-2.mb-4.w-full.bg-slate-200.rounded.border-2.border-slate-200(class='focus:border-slate-600 focus:outline-none')
              option(selected='' value='')
              option(value='') Full Time
              option(value='') Part Time
              option(value='') Internship
          // Salary
          .w-full.px-3(class='md:w-1/2')
            label.uppercase.text-sm.font-bold.opacity-70 Salary
            select.p-3.mt-2.mb-4.w-full.bg-slate-200.rounded.border-2.border-slate-200(class='focus:border-slate-600 focus:outline-none')
              option(selected='' value='')
              option(value='') $10,000 - $15,000
              option(value='') $15,000 - $20,000
              option(value='') $20,000 - $25,000
              option(value='') $25,000 - $30,000
              option(value='') $30,000 - $35,000
              option(value='') $35,000 - $40,000
              option(value='') $40,000 - $45,000
              option(value='') $45,000 - $50,000
              option(value='') $50,000 - $55,000
              option(value='') $55,000 - $60,000
              option(value='') $60,000 - $65,000
              option(value='') $65,000 - $70,000
              option(value='') $70,000 - $75,000
              option(value='') $75,000 - $80,000
              option(value='') $80,000 - $85,000
              option(value='') $85,000 - $90,000
              option(value='') $90,000 - $95,000
              option(value='') $95,000 - $100,000
              option(value='') $100,000 - $105,000
              option(value='') $105,000 - $110,000
              option(value='') $110,000 - $115,000
              option(value='') $115,000 - $120,000
          // Start Date
          .w-full.px-3(class='md:w-1/2')
            label.uppercase.text-sm.font-bold.opacity-70
              | Available Start Date
              span.text-red-500
            input.p-3.mt-2.mb-4.w-full.bg-slate-200.rounded.border-2.border-slate-200(type='date' class='focus:border-slate-600 focus:outline-none')
          // Expereince
          .w-full.px-3(class='md:w-1/2')
            label.uppercase.text-sm.font-bold.opacity-70
              | Have you worked for Company before
              span.text-red-500 *
            .flex.items-center.mb-2.mr-4
              input#radio-example-1.h-4.w-4.text-gray-700.px-3.py-3.border.rounded.mr-2(type='radio' name='radio')
              label.text-gray-600(for='radio-example-1') Yes
            .flex.items-center.mb-2
              input#radio-example-2.h-4.w-4.text-gray-700.px-3.py-3.border.rounded.mr-2(type='radio' name='radio')
              label.text-gray-600(for='radio-example-2') No
        // Contact information
        hr.my-6
        .flex
          svg.h-8.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' stroke-width='2')
            path(stroke-linecap='round' stroke-linejoin='round' d='M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z')
          h2.text-2xl.font-bold Documents
        hr.my-6
        .flex.flex-wrap
          .upload.flex.mt-8.justify-between.flex-wrap
            // CV
            .div.pr
              label.uppercase.text-sm.font-bold.opacity-70
                | CV
                span.text-red-500 *
              input#file.p-3.mt-2.mb-4.w-full.bg-slate-200.rounded.border-2.border-slate-200(type='file' name='file' class='focus:border-slate-600 focus:outline-none')
              label.file-label(for='file')
            // Cover letter
            .div
              label.uppercase.text-sm.font-bold.opacity-70
                | cover Letter
                span.text-red-500 *
              input#file.p-3.mt-2.mb-4.w-full.bg-slate-200.rounded.border-2.border-slate-200(type='file' name='file' class='focus:border-slate-600 focus:outline-none')
              label.file-label(for='file')
            // Certificates
            .div
              label.uppercase.text-sm.font-bold.opacity-70 Certificates
              input#file.p-3.mt-2.mb-4.w-full.bg-slate-200.rounded.border-2.border-slate-200(type='file' name='file' class='focus:border-slate-600 focus:outline-none')
              label.file-label(for='file')
        // Message
        hr.my-6
        .flex
          svg.h-8.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' stroke-width='2')
            path(stroke-linecap='round' stroke-linejoin='round' d='M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z')
          h2.text-2xl.font-bold Message
        hr.my-6
        .flex.flex-wrap
          .px-3
            label.uppercase.text-sm.font-bold.opacity-70 How did you hear about us?
            textarea#message.p-3.mt-2.mb-4.w-full.bg-slate-200.rounded.border-2.border-slate-200(class='focus:border-slate-600 focus:outline-none')
          .px-3
            label.uppercase.text-sm.font-bold.opacity-70
              | Why do you want to work with us?
              span.text-red-500 *
            textarea#message.p-3.mt-2.mb-4.w-full.bg-slate-200.rounded.border-2.border-slate-200(class='focus:border-slate-600 focus:outline-none')
        .my-2.font-medium.opacity-70
          input(type='checkbox')
          |                             Subscribe and follow company updates.
        // submit
        input.py-3.px-6.my-2.bg-emerald-500.text-white.font-medium.rounded.cursor-pointer.ease-in-out.duration-300(type='submit' class='hover:bg-red-500' value='Send')
script(src='https://cdn.tailwindcss.com')
